<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />

    <!-- Page Title -->
    <title>Diler bo‘lish</title>

    <!-- Meta Tags -->
    <meta name="description" content="Faw Trucks в Узбекистане" />
    <meta name="keywords" content="Faw Trucks в Узбекистане" />
    <meta name="author" content="mix_design" />

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Template Favicon & Icons Start -->
    <link rel="shortcut icon" href="img/icon/favicon_5.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icon/_iiiiapple.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/icon/_iiii176.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon/_iiii1156.png" />
    <link rel="apple-touch-startup-image" href="img/icon/_iiii1.png " />
    <!-- Template Favicon & Icons End -->

    <!-- Facebook Metadata Start -->
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:title" content="Faw Trucks в Узбекистане" />
    <meta property="og:description" content="Faw Trucks в Узбекистане" />
    <meta property="og:url" content="https://mixdesign.dev/themeforest/rayo" />
    <meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg" />
    <!-- Facebook Metadata End -->

    <!-- Template Styles Start -->
    <link rel="stylesheet" type="text/css" href="template/css/loaders/loader.css" />
    <link rel="stylesheet" type="text/css" href="template/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="template/css/main_site.css" />
    <link rel="stylesheet" type="text/css" href="site_main.css" />
    <link rel="stylesheet" type="text/css" href="single-news-page.css" />
    <link rel="stylesheet" type="text/css" href="breadcrumbs.css" />
    <link rel="stylesheet" type="text/css" href="become_potential_dealers.css" />

    <!-- <link rel="stylesheet" type="text/css" href="about-header-footer.css"> -->

    <!-- Custom Browser Color Start -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616" />
    <meta name="msapplication-navbutton-color" content="#161616" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Custom Browser Color End -->
</head>

<body>
    <!-- Loader Start -->
    <div id="loader" style="display: none" class="loader">
        <div class="loader__wrapper">
            <div class="loader__content">
                <div class="loader__count">
                    <span class="count__text">0</span>
                    <!-- <span class="count__percent">%</span> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Loader End -->

    <!-- Меню и шапка (начало) -->
    <nav id="header" class="mxd-nav__wrap" data-lenis-prevent="">

        <!-- Логотип в шапке (начало) -->
        <div class="mxd-header__logo loading__fade">
            <a href="site_main.html" class="mxd-logo">
                <img src="faw_site-img/LOGO-VUM.png" class="mxd-logo__image" alt="FAW Logo">
                <!-- <span class="mxd-logo__text">Faw</span> -->
            </a>
        </div>
        <!-- Логотип в шапке (конец) -->

        <!-- Навигация для десктопа (начало) -->
        <div class="mxd-header__nav loading__fade">
            <ul class="desktop-menu">
                <li class="desktop-menu__item active">
                    <a href="site_main.html" class="desktop-menu__link">Bosh sahifa</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="#" class="desktop-menu__link">
                        Dilerlar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="site_dealers.html" class="desktop-submenu__link">Diler topish</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="become_potential_dealer.html" class="desktop-submenu__link">Diler bo'lish</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_news.html" class="desktop-menu__link">Kompaniya yangiliklari</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="faw_main-models.html" class="desktop-menu__link">
                        Modellar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shatakchi mashinalar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Samosvallar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Maxsus texnika</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Avtofurgonlar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shassilar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger V</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger VR</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_about.html" class="desktop-menu__link">Kompaniya haqida</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_lizing.html" class="desktop-menu__link">Lizing</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_service.html" class="desktop-menu__link">Servis</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_contact.html" class="desktop-menu__link">Bo'glanish</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="jobs-page.html" class="desktop-menu__link">Vakansiya</a>
                </li>
            </ul>
        </div>
        <!-- Навигация для десктопа (конец) -->

        <!-- Элементы управления шапкой (начало) -->
        <div class="mxd-header__controls loading__fade">
            <div class="language-switcher">
                <span class="language-current">UZ</span>
                <span class="language-arrow">▼</span>
                <div class="language-dropdown">
                    <a href="#" class="language-option" data-lang="uz">O'zbek</a>
                    <a href="#" class="language-option" data-lang="ru">Русский</a>
                    <a href="#" class="language-option" data-lang="en">English</a>
                </div>
            </div>
            <button id="color-switcher" class="mxd-color-switcher" type="button" role="switch"
                aria-label="light/dark mode" aria-checked="true"></button>
            <a class="btn btn-anim btn-default btn-mobile-icon btn-outline slide-right-up" style="gap: 0;"
                href="#faw-main-contact-form" aria-label="Перейти к форме связи">
                <span class="btn-caption"></span>
                <i class="ph-bold ph-arrow-up-right"></i>
            </a>
        </div>
        <!-- Элементы управления шапкой (конец) -->

        <!-- Гамбургер (начало) -->
        <div class="mxd-nav__contain loading__fade">
            <a href="#0" class="mxd-nav__hamburger">
                <!-- flip element -->
                <div class="hamburger__base"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </a>
        </div>
        <!-- Гамбургер (конец) -->

        <!-- Основная мобильная навигация (начало) -->
        <div class="mxd-menu__wrapper">
            <!-- background active layer -->
            <div class="mxd-menu__base"></div>
            <!-- menu container -->
            <div class="mxd-menu__contain">
                <div class="mxd-menu__inner">
                    <!-- left side -->
                    <div class="mxd-menu__left">
                        <p class="mxd-menu__caption menu-fade-in">🚚 FAW Trucks Uzbekistan<br>Ishonchli transport
                            yechimlari</p>
                        <div class="main-menu">
                            <nav class="main-menu__content">
                                <ul id="main-menu" class="main-menu__accordion">
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_main.html">
                                            <span class="btn-caption">Bosh sahifa</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Dilerlar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="site_dealers.html">Diler topish</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="become_potential_dealer.html">Diler bo'lish</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_news.html">
                                            <span class="btn-caption">Kompaniya yangiliklari</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Modellar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Yuk mashinalari</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Avtobuslar</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Maxsus texnika</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_about.html">
                                            <span class="btn-caption">Kompaniya haqida</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_contact.html">
                                            <span class="btn-caption">Bog'lanish</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- нижняя информационная строка -->
                    <div class="mxd-menu__data menu-fade-in">
                        <p class="t-xsmall">
                            FAW Trucks Uzbekistan
                            <i class="ph-fill ph-heart t-additional"></i>
                        </p>
                        <p class="t-xsmall">
                            <i class="ph ph-copyright"></i>
                            2025
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Основная мобильная навигация (конец) -->

    </nav>
    <!-- Меню и шапка (конец) -->


    <!-- Page Content Start -->
    <div class="mxd-block loading-wrap"></div>


    <div class="mxd-block">
        <!-- Хлебные крошки -->
        <div class="mxd-section-filter pre-grid">
            <div class="mxd-section-filter__inner animate-card-3">
                <div class="mxd-grid-item-1">
                    <div class="section-filter">
                        <div aria-label="breadcrumb">
                            <ol class="breadcrumb-ol">
                                <li><a href="site_main.html">Bosh sahifa</a></li>
                                <li class="active">
                                    <a href="become_potential_dealer.html">Diler bo‘lish</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Блок — заголовок секции (конец) -->
    <div class="reveal-type anim-uni-in-up">
        <div class="faw-history-title fade-in">
            <h2>
                Qanday qilib diler bo‘lish mumkin.
            </h2>
        </div>

        <div class="mxd-hero-00__bottom">
            <div class="hero-00-manifest loading__fade">
                <p class="mxd-manifest reveal-type anim-uni-in-up">
                    FAW Trucks dileri maqomiga ega bo‘lishni istagan tijorat kompaniyasi
                    avtomobil texnikasini sotish bo‘yicha tegishli tajribaga ega bo‘lishi
                    kerak. Shuningdek, potensial diler o‘z hududidagi avtotexnika bozorini
                    bilishi lozim: uning sig‘imi, tuzilmasi va yuk avtomobillari parki
                    holati, raqobatchilar va asosiy mijozlar faoliyati. <br /><br />
                    <b>Potensial diler kompaniyasining minimal tarkibi:</b>

                    <br /><br />
                    • Tijorat bo‘limi (kamidпa ikki kishi).
                    <br /><br />
                    • Reklama bo‘limi.
                    <br /><br />
                    • Tayyor texnika uchun ombor-avtoturargoh.
                    <br /><br />
                    • Ehtiyot qismlar ombori.
                    <br /><br />
                    • Texnik xizmat ko‘rsatish uchun sertifikatlangan servis markazi.
                    <br /><br />
                    • Texnik xizmat ko‘rsatish uchun sertifikatlangan mobil
                    servis.
                    <br /><br />
                    • Sertifikatlangan va malakali servis markazi hamda savdo bo‘limi
                    mutaxassislari.
                    <br /><br />
                    <b>Servis markazi omborida doimiy ravishda asl ehtiyot qismlar (GOF)
                        saqlanishi shart.</b>
                </p>
            </div>
        </div>
    </div>


    <!-- Секция — контактная форма (начало) -->
    <div class="mxd-section" id="faw-main-contact-form">
        <div class="mxd-container mxd-form-container">
            <!-- НОВАЯ ФОРМА (шаблонный дизайн) -->
            <div class="mxd-block">
                <div class="container-fluid px-0">
                    <div class="row gx-0">
                        <!-- Left Column - Our Original Contact Info -->
                        <div class="col-12 col-md-6 mxd-grid-item animate-card-3 mt-0">
                            <div class="contact-info">
                                <div class="contact-info__content">

                                    <p class="contact-info__description anim-uni-in-up">
                                        VUM dileri bo‘lish bo'yicha savollaringiz bormi? Bizning
                                        mutaxassislar sizga yordam berishga tayyor. Formani
                                        to'ldiring va biz tez orada siz bilan bog'lanamiz.
                                    </p>

                                    <div class="contact-info__details">
                                        <div class="contact-detail anim-uni-in-up">
                                            <div class="contact-detail__icon">
                                                <i class="ph-fill ph-phone"></i>
                                            </div>
                                            <div class="contact-detail__content">
                                                <h4 class="contact-detail__title">Telefon</h4>
                                                <a href="tel:+998712345678" class="contact-detail__value">+998 71
                                                    234-56-78</a>
                                            </div>
                                        </div>

                                        <div class="contact-detail anim-uni-in-up">
                                            <div class="contact-detail__icon">
                                                <i class="ph-fill ph-envelope"></i>
                                            </div>
                                            <div class="contact-detail__content">
                                                <h4 class="contact-detail__title">Email</h4>
                                                <a href="mailto:info@fawtrucks.uz"
                                                    class="contact-detail__value">info@fawtrucks.uz</a>
                                            </div>
                                        </div>

                                        <div class="contact-detail anim-uni-in-up">
                                            <div class="contact-detail__icon">
                                                <i class="ph-fill ph-map-pin"></i>
                                            </div>
                                            <div class="contact-detail__content">
                                                <h4 class="contact-detail__title">Manzil</h4>
                                                <p class="contact-detail__value">
                                                    Toshkent,Abdulla Kaxxar ko'chasi 2А,
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column - Form with Template Design -->
                        <div class="col-12 col-md-6 mxd-grid-item">
                            <div class="mxd-block__content contact">
                                <div class="mxd-block__inner-form loading__fade">
                                    <div class="form-container">
                                        <!-- Сообщения-ответы (начало) -->
                                        <div class="form__reply centered text-center">
                                            <i class="ph-fill ph-smiley-wink reply__icon"></i>
                                            <p class="reply__title">Bajarildi!</p>
                                            <span class="reply__text">Xabaringiz uchun rahmat. Biz tez orada javob
                                                beramiz.</span>
                                        </div>
                                        <!-- Сообщения-ответы (конец) -->

                                        <!-- Форма контакта (начало) -->
                                        <form class="form contact-form">
                                            <!-- Hidden Required Fields -->
                                            <input type="hidden" name="project_name" value="FAW Trucks" />
                                            <input type="hidden" name="admin_email" value="info@fawtrucks.uz" />
                                            <input type="hidden" name="form_subject" value="FAW Contact Form Message" />
                                            <!-- END Hidden Required Fields-->
                                            <div class="container-fluid p-0">
                                                <div class="row gx-0">
                                                    <div class="col-12 mxd-grid-item anim-uni-in-up">
                                                        <input type="text" name="Name" placeholder="F.I.SH*" required />
                                                    </div>
                                                    <div class="col-12 mxd-grid-item anim-uni-in-up">
                                                        <select name="Region" required>
                                                            <option value="" disabled selected>
                                                                Viloyatni tanlang*
                                                            </option>
                                                            <option value="Toshkent shahri">
                                                                Toshkent shahri
                                                            </option>
                                                            <option value="Andijon viloyati">
                                                                Andijon viloyati
                                                            </option>
                                                            <option value="Buxoro viloyati">
                                                                Buxoro viloyati
                                                            </option>
                                                            <option value="Fargʻona viloyati">
                                                                Fargʻona viloyati
                                                            </option>
                                                            <option value="Jizzax viloyati">
                                                                Jizzax viloyati
                                                            </option>
                                                            <option value="Xorazm viloyati">
                                                                Xorazm viloyati
                                                            </option>
                                                            <option value="Namangan viloyati">
                                                                Namangan viloyati
                                                            </option>
                                                            <option value="Navoiy viloyati">
                                                                Navoiy viloyati
                                                            </option>
                                                            <option value="Qashqadaryo viloyati">
                                                                Qashqadaryo viloyati
                                                            </option>
                                                            <option value="Samarqand viloyati">
                                                                Samarqand viloyati
                                                            </option>
                                                            <option value="Sirdaryo viloyati">
                                                                Sirdaryo viloyati
                                                            </option>
                                                            <option value="Surxondaryo viloyati">
                                                                Surxondaryo viloyati
                                                            </option>
                                                            <option value="Toshkent viloyati">
                                                                Toshkent viloyati
                                                            </option>
                                                            <option value="Qoraqalpogʻiston Respublikasi">
                                                                Qoraqalpogʻiston Respublikasi
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 mxd-grid-item anim-uni-in-up">
                                                        <input type="tel" name="Phone" placeholder="Telefon raqami"
                                                            pattern="[+]*[0-9\s\-\(\)]*" />
                                                    </div>
                                                    <div class="col-12 mxd-grid-item anim-uni-in-up">
                                                        <textarea name="Message" placeholder=" Qo'shimcha savol*"
                                                            required></textarea>
                                                    </div>
                                                    <div class="col-12 mxd-grid-item anim-uni-in-up">
                                                        <button
                                                            class="btn btn-anim btn-default btn-large btn-opposite slide-right-up shimmer-btn"
                                                            type="submit">
                                                            <span class="btn-caption">Jo‘natish</span>
                                                            <span class="shimmer"></span>
                                                            <i class="ph-bold ph-arrow-up-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Форма контакта (конец) -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Блок — контактная форма (конец) -->
        </div>
    </div>
    <!-- Секция — контактная форма (конец) -->
    <!-- Футер (начало) -->
    <footer id="mxd-footer" class="mxd-footer">

        <!-- Футер — полноширинный текст (начало) -->
        <div class="mxd-footer__text-wrap">
            <div class="fullwidth-text__tl-trigger"></div>
            <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
                <h1 class="footer-title">FAW TRUCKS</h1>
            </div>
        </div>
        <!-- Футер — полноширинный текст (конец) -->

        <!-- Футер — информационные колонки (начало) -->
        <div class="mxd-footer__footer-blocks">
            <!-- Первый столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <!-- Footer navigatsiyasi -->
                    <div class="footer-blocks__nav">
                        <ul class="footer-nav">
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Bosh sahifa</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Biz haqimizda</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yuk mashinalari</span>
                                </a>
                                <p class="footer-nav__counter">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px"
                                        height="20px" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill="currentColor"
                                            d="M19.6,9.6c0,0-3,0-4,0c-0.4,0-1.8-0.2-1.8-0.2c-0.6-0.1-1.1-0.2-1.6-0.6c-0.5-0.3-0.9-0.8-1.2-1.2
                                      c-0.3-0.4-0.4-0.9-0.5-1.4c0,0-0.1-1.1-0.2-1.5c-0.1-1.1,0-4.4,0-4.4C10.4,0.2,10.2,0,10,0S9.6,0.2,9.6,0.4c0,0,0.1,3.3,0,4.4
                                      c0,0.4-0.2,1.5-0.2,1.5C9.4,6.7,9.2,7.2,9,7.6C8.7,8.1,8.2,8.5,7.8,8.9c-0.5,0.3-1,0.5-1.6,0.6c0,0-1.2,0.1-1.7,0.2
                                      c-1,0.1-4.2,0-4.2,0C0.2,9.6,0,9.8,0,10c0,0.2,0.2,0.4,0.4,0.4c0,0,3.1-0.1,4.2,0c0.4,0,1.7,0.2,1.7,0.2c0.6,0.1,1.1,0.2,1.6,0.6
                                      c0.4,0.3,0.8,0.7,1.1,1.1c0.3,0.5,0.5,1,0.6,1.6c0,0,0.1,1.3,0.2,1.7c0,1,0,4.1,0,4.1c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4
                                      c0,0,0-3.1,0-4.1c0-0.4,0.2-1.7,0.2-1.7c0.1-0.6,0.2-1.1,0.6-1.6c0.3-0.4,0.7-0.8,1.1-1.1c0.5-0.3,1-0.5,1.6-0.6
                                      c0,0,1.3-0.1,1.8-0.2c1,0,4,0,4,0c0.2,0,0.4-0.2,0.4-0.4C20,9.8,19.8,9.6,19.6,9.6L19.6,9.6z"></path>
                                    </svg>
                                    <span>25</span>
                                </p>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Xizmatlar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yangiliklar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Aloqa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Havolalar -->
                    <div class="footer-blocks__links anim-uni-in-up">
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Maxfiylik siyosati</span>
                        </a>
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Foydalanish shartlari</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Второй столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card">
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-envelope"></i>
                        <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20bo'yicha%20so'rov"><span
                                style="font-weight: bold;">eMail: </span>info@fawtrucks.uz</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-phone"></i>
                        <a href="tel:+998712345678"><span style="font-weight: bold;">Telefon: </span>+998 71
                            234-56-78</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-map-pin"></i>
                        <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer"><span
                                style="font-weight: bold;">Manzil: </span>Toshkent,Abdulla Kaxxar ko'chasi 2А,</a>
                    </p>
                </div>

                <div class="footer-blocks__card card-maps" style="padding:0;overflow: hidden;height: 100%;">
                    <!-- Встроенная карта Yandex (растянута на всю карточку, уменьшен зум) -->
                    <div style="position:relative;overflow:hidden;width:100%;height:100%;">
                        <a href="https://yandex.uz/maps/org/187051650206/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Faw Trucks</a>
                        <a href="https://yandex.uz/maps/10335/tashkent/category/car_dealership/184105322/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосалон в Ташкенте</a>
                        <iframe
                            src="https://yandex.uz/map-widget/v1/?ll=69.264431%2C41.271680&mode=poi&poi%5Bpoint%5D=69.264339%2C41.271780&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D187051650206&z=16"
                            width="100%" height="100%" frameborder="1" allowfullscreen="true"
                            style="position:relative;border:0;min-height:220px;"></iframe>
                    </div>
                </div>
            </div>

            <!-- Третий столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__block">
                        <div class="footer-blocks__title anim-uni-in-up">
                            <p class="footer-blocks__title-l">Ijtimoiy tarmoqlar</p>
                        </div>

                        <div class="footer-blocks__socials">
                            <ul class="footer-socials">
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/facebook.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.facebook.com/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Facebook</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/instagram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.instagram.com/fawtrucks.uz" class="footer-socials__link"
                                        target="_blank">Instagram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/telegram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://t.me/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Telegram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/youtube.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.youtube.com/c/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">YouTube</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/linkedin.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.linkedin.com/company/faw-trucks-uzbekistan"
                                        class="footer-socials__link" target="_blank">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-blocks__links anim-uni-in-up">
                        <p class="t-xsmall t-muted">
                            <a class="no-effect" href="#" target="_blank">FAW TRUCKS</a>
                            © 2025 - Barcha huquqlar himoyalangan
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Футер — информационные колонки (конец) -->

    </footer>
    <!-- Футер (конец) -->
    <!-- To Top Button Start -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
        <i class="ph ph-arrow-up"></i>
    </a>
    <!-- To Top Button End -->

    <!-- Load Scripts Start -->
    <script src="template/js/libs.min.js"></script>
    <!-- <script src="template/js/app.js"></script> -->
    <script src="faw-js/faw.js"></script>
</body>

</html>