<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">

    <!-- Page Title -->
    <title>VUM dilerlar</title>

    <!-- Meta Tags -->
    <meta name="description" content="Faw Trucks в Узбекистане">
    <meta name="keywords" content="Faw Trucks в Узбекистане">
    <meta name="author" content="mix_design">

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Favicon & Icons Start -->
    <link rel="shortcut icon" href="img/icon/favicon_5.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon/_iiiiapple.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icon/_iiii176.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon/_iiii1156.png">
    <link rel="apple-touch-startup-image" href="img/icon/_iiii1.png ">
    <!-- Template Favicon & Icons End -->

    <!-- Facebook Metadata Start -->
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Faw Trucks в Узбекистане">
    <meta property="og:description" content="Faw Trucks в Узбекистане">
    <meta property="og:url" content="https://mixdesign.dev/themeforest/rayo">
    <meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg">
    <!-- Facebook Metadata End -->

    <!-- Template Styles Start -->
    <link rel="stylesheet" type="text/css" href="template/css/loaders/loader.css">
    <link rel="stylesheet" type="text/css" href="template/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="template/css/main_site.css">
    <link rel="stylesheet" type="text/css" href="site_main.css">
    <link rel="stylesheet" type="text/css" href="breadcrumbs.css">
    <link rel="stylesheet" type="text/css" href="site_dealers.css">


    <!-- Template Styles End -->

    <!-- Custom Browser Color Start -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616">
    <meta name="msapplication-navbutton-color" content="#161616">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Custom Browser Color End -->

</head>

<body>

    <!-- Loader Start -->
    <div id="loader" style="display: none;" class="loader">
        <div class="loader__wrapper">
            <div class="loader__content">
                <div class="loader__count">
                    <span class="count__text">0</span>
                    <!-- <span class="count__percent">%</span> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Loader End -->
    <!-- Меню и шапка (начало) -->
    <nav id="header" class="mxd-nav__wrap" data-lenis-prevent="">

        <!-- Логотип в шапке (начало) -->
        <div class="mxd-header__logo loading__fade">
            <a href="site_main.html" class="mxd-logo">
                <img src="faw_site-img/LOGO-VUM.png" class="mxd-logo__image" alt="FAW Logo">
                <!-- <span class="mxd-logo__text">Faw</span> -->
            </a>
        </div>
        <!-- Логотип в шапке (конец) -->

        <!-- Навигация для десктопа (начало) -->
        <div class="mxd-header__nav loading__fade">
            <ul class="desktop-menu">
                <li class="desktop-menu__item active">
                    <a href="site_main.html" class="desktop-menu__link">Bosh sahifa</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="#" class="desktop-menu__link">
                        Dilerlar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="site_dealers.html" class="desktop-submenu__link">Diler topish</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="become_potential_dealer.html" class="desktop-submenu__link">Diler bo'lish</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_news.html" class="desktop-menu__link">Kompaniya yangiliklari</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="faw_main-models.html" class="desktop-menu__link">
                        Modellar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shatakchi mashinalar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Samosvallar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Maxsus texnika</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Avtofurgonlar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shassilar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger V</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger VR</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_about.html" class="desktop-menu__link">Kompaniya haqida</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_lizing.html" class="desktop-menu__link">Lizing</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_service.html" class="desktop-menu__link">Servis</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_contact.html" class="desktop-menu__link">Bo'glanish</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="jobs-page.html" class="desktop-menu__link">Vakansiya</a>
                </li>
            </ul>
        </div>
        <!-- Навигация для десктопа (конец) -->

        <!-- Элементы управления шапкой (начало) -->
        <div class="mxd-header__controls loading__fade">
            <div class="language-switcher">
                <span class="language-current">UZ</span>
                <span class="language-arrow">▼</span>
                <div class="language-dropdown">
                    <a href="#" class="language-option" data-lang="uz">O'zbek</a>
                    <a href="#" class="language-option" data-lang="ru">Русский</a>
                    <a href="#" class="language-option" data-lang="en">English</a>
                </div>
            </div>
            <button id="color-switcher" class="mxd-color-switcher" type="button" role="switch"
                aria-label="light/dark mode" aria-checked="true"></button>
            <a class="btn btn-anim btn-default btn-mobile-icon btn-outline slide-right-up" style="gap: 0;"
                href="#faw-main-contact-form" aria-label="Перейти к форме связи">
                <span class="btn-caption"></span>
                <i class="ph-bold ph-arrow-up-right"></i>
            </a>
        </div>
        <!-- Элементы управления шапкой (конец) -->

        <!-- Гамбургер (начало) -->
        <div class="mxd-nav__contain loading__fade">
            <a href="#0" class="mxd-nav__hamburger">
                <!-- flip element -->
                <div class="hamburger__base"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </a>
        </div>
        <!-- Гамбургер (конец) -->

        <!-- Основная мобильная навигация (начало) -->
        <div class="mxd-menu__wrapper">
            <!-- background active layer -->
            <div class="mxd-menu__base"></div>
            <!-- menu container -->
            <div class="mxd-menu__contain">
                <div class="mxd-menu__inner">
                    <!-- left side -->
                    <div class="mxd-menu__left">
                        <p class="mxd-menu__caption menu-fade-in">🚚 FAW Trucks Uzbekistan<br>Ishonchli transport
                            yechimlari</p>
                        <div class="main-menu">
                            <nav class="main-menu__content">
                                <ul id="main-menu" class="main-menu__accordion">
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_main.html">
                                            <span class="btn-caption">Bosh sahifa</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Dilerlar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="site_dealers.html">Diler topish</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="become_potential_dealer.html">Diler bo'lish</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_news.html">
                                            <span class="btn-caption">Kompaniya yangiliklari</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Modellar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Yuk mashinalari</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Avtobuslar</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Maxsus texnika</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_about.html">
                                            <span class="btn-caption">Kompaniya haqida</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_contact.html">
                                            <span class="btn-caption">Bog'lanish</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- нижняя информационная строка -->
                    <div class="mxd-menu__data menu-fade-in">
                        <p class="t-xsmall">
                            FAW Trucks Uzbekistan
                            <i class="ph-fill ph-heart t-additional"></i>
                        </p>
                        <p class="t-xsmall">
                            <i class="ph ph-copyright"></i>
                            2025
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Основная мобильная навигация (конец) -->

    </nav>
    <!-- Меню и шапка (конец) -->
    <div class="mxd-block loading-wrap">
    </div>
    <div class="mxd-block">
        <!-- Хлебные крошки -->
        <div class="mxd-section-filter pre-grid">
            <div class="mxd-section-filter__inner animate-card-3">
                <div class="mxd-grid-item-1">
                    <div class="section-filter">
                        <div aria-label="breadcrumb">
                            <ol class="breadcrumb-ol">
                                <li><a href="site_main.html">Bosh sahifa</a></li>
                                <li class="active"><a href="site_dealers.html">Dilerlar</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faw-history-title fade-in">
        <h2 class="reveal-type anim-uni-in-up">VUM rasmiy dilerlar</h2>
    </div>
    <div class="container">
        <div id="map">
            <div class="map-header">
                <div class="controls">
                    <div class="search-container">
                        <input type="text" id="searchBox" class="search-box"
                            placeholder="Shahar, manzil yoki diler nomi bo'yicha qidirish...">
                    </div>
                    <div class="filter-buttons">
                        <button class="filter-btn active btn-anim" data-service="all">Barcha dilerlar</button>
                        <button class="filter-btn" data-service="Sotuv">Sotuv</button>
                        <button class="filter-btn" data-service="Servis">Servis</button>
                        <button class="filter-btn" data-service="Ehtiyot qismlar">Ehtiyot qismlar</button>
                        <button class="filter-btn" data-service="Maslahatlar">Maslahatlar</button>
                        <button class="filter-btn" data-service="Maslahatlar">Maslahatlar</button>
                        <a href="become_potential_dealer.html"><button
                                class="filter-btn btn btn-anim btn-default slide-right-up ">
                                <span class="btn-caption">Diler bo'lish</span>
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="loading" id="mapLoading">
                <div class="spinner"></div>
                <span>Kartani yuklash...</span>
            </div>
            <button class="find-nearest-btn" onclick="findNearestDealer()" title="Eng yaqin dilerni topish">📍</button>
        </div>

        <div class="stats">
            <div class="stat-item">
                <div class="stat-number" id="totalDealers">0</div>
                <div class="stat-label">Jami dilerlar</div>
            </div>
            <div class="stat-item">
                <div class="stat-number" id="visibleDealers">0</div>
                <div class="stat-label">Kartada ko'rsatilgan</div>
            </div>
            <div class="stat-item">
                <div class="stat-number" id="citiesCount">0</div>
                <div class="stat-label">Qamrov shaharlari</div>
            </div>
            <div class="stat-item">
                <div class="stat-number" id="servicesCount">0</div>
                <div class="stat-label">Xizmat turlari</div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="dealerModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modalTitle">Diler haqida ma'lumot</h3>
                <div class="modal-subtitle" id="modalSubtitle"></div>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div id="dealerInfo" class="dealer-info"></div>
            </div>
        </div>
    </div>

    <!-- Футер (начало) -->
    <footer id="mxd-footer" class="mxd-footer">

        <!-- Футер — полноширинный текст (начало) -->
        <div class="mxd-footer__text-wrap">
            <div class="fullwidth-text__tl-trigger"></div>
            <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
                <h1 class="footer-title">FAW TRUCKS</h1>
            </div>
        </div>
        <!-- Футер — полноширинный текст (конец) -->

        <!-- Футер — информационные колонки (начало) -->
        <div class="mxd-footer__footer-blocks">
            <!-- Первый столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <!-- Footer navigatsiyasi -->
                    <div class="footer-blocks__nav">
                        <ul class="footer-nav">
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Bosh sahifa</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Biz haqimizda</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yuk mashinalari</span>
                                </a>
                                <p class="footer-nav__counter">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px"
                                        height="20px" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill="currentColor"
                                            d="M19.6,9.6c0,0-3,0-4,0c-0.4,0-1.8-0.2-1.8-0.2c-0.6-0.1-1.1-0.2-1.6-0.6c-0.5-0.3-0.9-0.8-1.2-1.2
                                      c-0.3-0.4-0.4-0.9-0.5-1.4c0,0-0.1-1.1-0.2-1.5c-0.1-1.1,0-4.4,0-4.4C10.4,0.2,10.2,0,10,0S9.6,0.2,9.6,0.4c0,0,0.1,3.3,0,4.4
                                      c0,0.4-0.2,1.5-0.2,1.5C9.4,6.7,9.2,7.2,9,7.6C8.7,8.1,8.2,8.5,7.8,8.9c-0.5,0.3-1,0.5-1.6,0.6c0,0-1.2,0.1-1.7,0.2
                                      c-1,0.1-4.2,0-4.2,0C0.2,9.6,0,9.8,0,10c0,0.2,0.2,0.4,0.4,0.4c0,0,3.1-0.1,4.2,0c0.4,0,1.7,0.2,1.7,0.2c0.6,0.1,1.1,0.2,1.6,0.6
                                      c0.4,0.3,0.8,0.7,1.1,1.1c0.3,0.5,0.5,1,0.6,1.6c0,0,0.1,1.3,0.2,1.7c0,1,0,4.1,0,4.1c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4
                                      c0,0,0-3.1,0-4.1c0-0.4,0.2-1.7,0.2-1.7c0.1-0.6,0.2-1.1,0.6-1.6c0.3-0.4,0.7-0.8,1.1-1.1c0.5-0.3,1-0.5,1.6-0.6
                                      c0,0,1.3-0.1,1.8-0.2c1,0,4,0,4,0c0.2,0,0.4-0.2,0.4-0.4C20,9.8,19.8,9.6,19.6,9.6L19.6,9.6z"></path>
                                    </svg>
                                    <span>25</span>
                                </p>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Xizmatlar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yangiliklar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Aloqa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Havolalar -->
                    <div class="footer-blocks__links anim-uni-in-up">
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Maxfiylik siyosati</span>
                        </a>
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Foydalanish shartlari</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Второй столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card">
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-envelope"></i>
                        <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20bo'yicha%20so'rov"><span
                                style="font-weight: bold;">eMail: </span>info@fawtrucks.uz</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-phone"></i>
                        <a href="tel:+998712345678"><span style="font-weight: bold;">Telefon: </span>+998 71
                            234-56-78</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-map-pin"></i>
                        <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer"><span
                                style="font-weight: bold;">Manzil: </span>Toshkent,Abdulla Kaxxar ko'chasi 2А,</a>
                    </p>
                </div>

                <div class="footer-blocks__card card-maps" style="padding:0;overflow: hidden;height: 100%;">
                    <!-- Встроенная карта Yandex (растянута на всю карточку, уменьшен зум) -->
                    <div style="position:relative;overflow:hidden;width:100%;height:100%;">
                        <a href="https://yandex.uz/maps/org/187051650206/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Faw Trucks</a>
                        <a href="https://yandex.uz/maps/10335/tashkent/category/car_dealership/184105322/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосалон в Ташкенте</a>
                        <iframe
                            src="https://yandex.uz/map-widget/v1/?ll=69.264431%2C41.271680&mode=poi&poi%5Bpoint%5D=69.264339%2C41.271780&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D187051650206&z=16"
                            width="100%" height="100%" frameborder="1" allowfullscreen="true"
                            style="position:relative;border:0;min-height:220px;"></iframe>
                    </div>
                </div>
            </div>

            <!-- Третий столбец -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__block">
                        <div class="footer-blocks__title anim-uni-in-up">
                            <p class="footer-blocks__title-l">Ijtimoiy tarmoqlar</p>
                        </div>

                        <div class="footer-blocks__socials">
                            <ul class="footer-socials">
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/facebook.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.facebook.com/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Facebook</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/instagram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.instagram.com/fawtrucks.uz" class="footer-socials__link"
                                        target="_blank">Instagram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/telegram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://t.me/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Telegram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/youtube.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.youtube.com/c/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">YouTube</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/linkedin.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.linkedin.com/company/faw-trucks-uzbekistan"
                                        class="footer-socials__link" target="_blank">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-blocks__links anim-uni-in-up">
                        <p class="t-xsmall t-muted">
                            <a class="no-effect" href="#" target="_blank">FAW TRUCKS</a>
                            © 2025 - Barcha huquqlar himoyalangan
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Футер — информационные колонки (конец) -->

    </footer>
    <!-- Футер (конец) -->
    <!-- To Top Button Start -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
        <i class="ph ph-arrow-up"></i>
    </a>
    <!-- To Top Button End -->

    <!-- Load Scripts Start -->
    <script src="template/js/libs.min.js"></script>
    <script src="template/js/app.js"></script>
    <script src="faw-js/faw.js"></script>
    <!-- Подключение Яндекс.Карт с вашим API ключом -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=145cca7b-9118-4b72-b7b6-261dbc414620&lang=ru_RU"></script>
    <script>
        // ========== ДАННЫЕ ДИЛЕРОВ ==========
        const dealers = [{
            id: 1, name: "MCHJ «Ideal Truck Sales»", address: "O'zbekiston, Toshkent shahri, Yangi Sergeli ko'chasi, 25-uy. Avtosentr.", coordinates: [41.237360, 69.213242],
            phone: "+998 71 203-10-40",
            email: "manideal@mail.ru",
            website: "https://ideal-tehno.uz",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Begzod",
            city: "Toshkent"
        },
        {
            id: 2,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Toshkent shahri, Yangihayot tumani, Yangi Darxon MFY, Toshkent halqa avtomobil yoʼli ko'chasi, 23-uy",
            coordinates: [41.222225, 69.192259],
            phone: "+998 91 779-73-73",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Muhriddin",
            city: "Toshkent"
        },
        {
            id: 3,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Toshkent shahri, Sirg'ali tumani, Qumariq MFY, Qum-Ariq ko'chasi, 24-a-uy",
            coordinates: [41.245010, 69.255868],
            phone: "+998 90 065-35-35",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Muslim",
            city: "Toshkent"
        },
        {
            id: 4,
            name: "MCHJ «MAGISTRAL DIESEL SERVICE»",
            address: "Toshkent viloyati, Zangiota tumani, Erkin QFY Tariq Teshar mahallesi, M39 Avtomagistral yo'li ko'chasi, 54 A-uy",
            coordinates: [41.227780, 69.148816],
            phone: "+998 99 808-09-90",
            email: "info@magistral.uz",
            website: "https://magistral.uz",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Komron",
            city: "Toshkent viloyati"
        },
        {
            id: 5,
            name: "MCHJ «MAGISTRAL DIESEL SERVICE»",
            address: "Toshkent viloyati, Zangiota tumani, Erkin QFY Tariq Teshar mahallesi, M39 Avtomagistral yo'li ko'chasi, 54 A-uy",
            coordinates: [41.298308, 69.292843],
            phone: "+998 99 040-09-90",
            email: "info@magistral.uz",
            website: "https://magistral.uz",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Qodirov Zaid",
            city: "Toshkent viloyati"
        },
        {
            id: 6,
            name: "MCHJ «DELTA-AUTO MOTORS»",
            address: "Toshkent viloyati, Olmaliq sh. Saxovat mahallasi, Ravnaq ko'chasi",
            coordinates: [40.88795582024242, 69.5780345958458],
            phone: "+998 99 93 515-09-99",
            email: "sundj_83@mail.ru",
            website: "https://www.instagram.com/deltaautomotors/",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "",
            city: "Toshkent"
        },
        {
            id: 7,
            name: "MCHJ «DELTA-AUTO MOTORS»",
            address: "Toshkent viloyati, Olmaliq sh. Saxovat mahallasi, Ravnaq ko'chasi",
            coordinates: [41.231030, 69.155483],
            phone: "+998 93 500-77-33",
            email: "sundj_83@mail.ru",
            website: "https://www.instagram.com/deltaautomotors",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "",
            city: "Toshkent viloyati"
        },
        {
            id: 8,
            name: "MCHJ «COMTRANS AUTO SERVICE»",
            address: "Toshkent, Yangihayot tumani, Past Darkhon mahallasi, Navruz ko'chasi 26",
            coordinates: [41.227671, 69.196490],
            phone: "+998 77-417-00-33",
            email: "Abdurasul0586@mail.ru",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Nazir",
            city: "Toshkent"
        },
        {
            id: 9,
            name: "BBT TRUCKS»",
            address: "Toshkent shahri, Yunusobod tumani XALQABOD MFY, 16 mavzesi, 28a-uy",
            coordinates: [41.367297, 69.327222],
            phone: "+998 33 711-33-65",
            email: "azimovbek1993@gmail.com",
            website: "https://www.instagram.com/bbt_trucks",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Nodir",
            city: "Toshkent"
        },
        {
            id: 10,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Farg'ona viloyat,Farg'ona shahar Ahmad Yassaviy ko'chasi 26",
            coordinates: [40.379887, 71.806633],
            phone: "+998 ",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "",
            city: "Farg'ona viloyati"
        },
        {
            id: 11,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Farg'ona viloyati, Qo'qon shahri, Toshkentliguzar MFY, Tarovat",
            coordinates: [40.535144, 70.937634],
            phone: "+998 91 050-13-83",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Ulug'bek",
            city: "Farg'ona viloyati"
        },
        {
            id: 12,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Andijon viloyati, Oltinko'l tumani, Mehnat MSG, Mehnat ko'chasi, 10-uy",
            coordinates: [40.753081, 72.290714],
            phone: "+998 ",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "",
            city: "Andijon viloyati"
        },
        {
            id: 13,
            name: "MCHJ «KAMAZ TEXNIK MARKAZI»",
            address: "Sirdaryo viloyati, Oqoltin tumani, Sardoba shaharchasi A.TOIROV SIU XUDUDI",
            coordinates: [40.536946, 68.325411],
            phone: "+998 97 706-10-61",
            email: "shavkat@mail.ru",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Shavkat",
            city: "Sirdaryo viloyati"
        },
        {
            id: 14,
            name: "MCHJ «INNOVATSION COMFORT TOMORQA HIZMATLARI»",
            address: "Jizzax viloyati, Jizzax sh. Toshloq mahallasi, Sayiljoyi ko'chasi, 22-uy",
            coordinates: [40.130849, 67.823168],
            phone: "+998 95 268-33-63",
            email: "mahmuovjavohir@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Hatamov Bekzod",
            city: "Jizzax viloyati"
        },
        {
            id: 15,
            name: "MCHJ «SHARQ GAVHARI TRANS»",
            address: "Surxondaryo viloyati, Termiz shahar, Kattabogʻ MFY, Farovon-3 dahasi, 10-uy",
            coordinates: [37.235186, 67.272631],
            phone: "+998 91 772-04-44",
            email: "izzat@gmail.com",
            workingHours: "Du-Ju: 9:00-20:00<br>Sha: Dam olish <br>Ya: Dam olish",
            services: ["Sotuv"],
            manager: "Ergashev Mirjalol Bahrom o'g'li",
            city: "Surxondaryo viloyati"
        }];

        let map, clusterer;
        let currentFilter = 'all';
        let filteredDealers = [...dealers];

        // Статические координаты границ и центра Узбекистана
        const UZBEKISTAN_BOUNDS = [[37.0, 55.0], [45.8, 73.2]];
        const UZBEKISTAN_CENTER = [41.377491, 64.585262];

        // Kartani ishga tushirish
        ymaps.ready(function () {
            initializeMap();
        });

        // Инициализация карты
        function initializeMap() {
            document.getElementById('mapLoading').style.display = 'none';

            // Создаем карту
            map = new ymaps.Map('map', {
                center: UZBEKISTAN_CENTER,
                zoom: 6,
                controls: ['zoomControl', 'fullscreenControl', 'geolocationControl']
            });

            // Загружаем и отображаем границы Узбекистана
            loadAndDisplayRegions();

            // Инициализируем остальные компоненты
            initializeClusterer();
            initializeDealers();
            updateStats();
            setupEventListeners();
        }

        function loadAndDisplayRegions() {
            // Координаты границ Узбекистана для Yandex Maps API [широта, долгота]
            const uzbekistanBorder = [
                [37.250789, 67.340123], [37.360214, 67.081543], [37.368912, 66.524178],
                [37.970000, 66.550000], [37.981234, 66.551789], [38.410876, 65.221345],
                [38.420567, 65.210123], [38.899123, 64.175892], [39.370456, 63.523467],
                [39.948765, 62.905123], [40.060214, 62.379876], [40.505432, 62.005678],
                [40.520123, 61.990456], [41.090123, 61.888456], [41.271890, 61.552345],
                [41.225678, 60.471234], [41.430567, 60.088912], [41.440234, 60.080123],
                [42.228456, 59.981789], [42.756789, 58.634567], [42.770123, 58.620456],
                [42.175890, 57.791234], [41.831234, 56.937890], [41.327456, 57.101789],
                [41.313890, 55.973456], [41.320123, 55.960789], [41.300000, 55.900000],
                [42.500000, 55.800000], [43.200000, 55.600000], [44.100000, 55.750000],
                [44.995858, 55.928917], [45.001234, 55.934123], [45.010567, 55.945456],
                [45.050123, 56.000789], [45.070000, 56.050000], [45.100456, 56.120123],
                [45.200789, 56.500456], [45.300123, 56.800789], [45.400456, 57.100123],
                [45.500000, 57.500000], [45.505432, 57.505432], [45.592123, 58.508456],
                [45.600789, 58.520123], [45.586804, 58.503127], [45.500014, 58.689989],
                [45.490123, 58.700456], [44.789456, 60.245123], [44.800567, 60.250789],
                [44.405817, 61.058320], [43.504477, 62.013300], [43.655432, 63.191234],
                [43.733456, 64.906123], [43.740123, 64.920456], [43.002890, 66.103456],
                [42.000123, 66.028789], [41.992890, 66.515432], [41.173789, 66.719234],
                [41.141234, 67.991123], [40.667456, 68.265123], [40.673890, 68.637456],
                [41.389456, 69.075123], [41.400123, 69.080456], [42.086543, 70.394123],
                [42.271345, 70.967456], [42.172890, 71.264123], [41.525123, 70.425234],
                [41.148789, 71.162890], [41.398123, 71.875234], [40.871234, 73.060123],
                [40.880567, 73.070456], [40.151123, 71.780234], [40.249567, 71.019198],
                [40.223789, 70.606543], [40.501678, 70.463234], [40.965432, 70.671789],
                [40.2204216, 69.2579536], [40.217000, 69.253000], [40.225000, 69.262000],
                [40.230000, 69.265000], [40.091234, 69.016789], [39.800000, 68.900000],
                [39.650000, 68.750000], [39.538789, 68.541234], [39.585123, 67.706543],
                [39.705432, 67.105123], [39.145432, 67.447456], [38.906789, 68.181234],
                [38.162345, 68.397123], [38.170123, 68.410456], [37.725123, 68.305432],
                [37.730456, 68.310123], [37.200789, 67.850456], [37.195000, 67.845000],
                [37.190123, 67.840789], [37.250789, 67.340123]
            ];

            const border = new ymaps.Polygon([uzbekistanBorder], {
                hintContent: 'O\'zbekiston Respublikasi'
            }, {
                strokeColor: '#0a2883',
                strokeWidth: 3,
                strokeOpacity: 1,
                fillColor: 'rgba(231, 76, 60, 0.1)',
                fillOpacity: 0
            });

            map.geoObjects.add(border);
            console.log('Граница Узбекистана добавлена');
        }

        // Klasterni ishga tushirish
        function initializeClusterer() {
            clusterer = new ymaps.Clusterer({
                preset: 'islands#blueClusterIcons',
                groupByCoordinates: false,
                clusterDisableClickZoom: false
            });
        }

        // Diler belgilarini yaratish
        function createPlacemark(dealer) {
            const placemark = new ymaps.Placemark(
                dealer.coordinates,
                {
                    id: dealer.id,
                    name: dealer.name,
                    address: dealer.address,
                    phone: dealer.phone,
                    balloonContentHeader: `<strong>${dealer.name}</strong>`,
                    balloonContentBody: `
                <div style="padding: 10px;">
                    <p><strong>📍 Manzil:</strong><br>${dealer.address}</p>
                    <p><strong>📞 Telefon:</strong><br><a href="tel:${dealer.phone}">${dealer.phone}</a></p>
                    <p><strong>🕒 Ish vaqti:</strong><br>${dealer.workingHours}</p>
                    <p><strong>🛠️ Xizmatlar:</strong><br>
                        ${dealer.services.map(service => `<span style="background: #e3f2fd; color: #0a2883; padding: 2px 6px; border-radius: 4px; font-size: 11px; margin: 2px;">${service}</span>`).join('')}
                    </p>
                    <button onclick="showDealerDetails(${dealer.id})" 
                            style="background: #0a2883; color: white; border: none; padding: 8px 15px; border-radius: 4px; cursor: pointer; width: 100%; margin-top: 10px;">
                        Batafsil ma'lumot
                    </button>
                </div>
            `,
                    hintContent: `${dealer.name} - ${dealer.city}`
                },
                {
                    preset: 'islands#redDotIcon',
                    iconColor: '#0a2883'
                }
            );
            return placemark;
        }

        // Dilerlarni ishga tushirish
        function initializeDealers() {
            const placemarks = dealers.map(dealer => createPlacemark(dealer));
            clusterer.add(placemarks);
            map.geoObjects.add(clusterer);

            // Kartani barcha dilerlarni ko'rsatish uchun moslashtirish
            if (placemarks.length > 0) {
                try {
                    const bounds = clusterer.getBounds();
                    if (bounds) {
                        map.setBounds(bounds, {
                            checkZoomRange: true,
                            zoomMargin: [60, 60, 60, 60]
                        });
                    }
                } catch (e) {
                    console.warn('Kartani moslashtirish xatoligi');
                    map.setCenter(UZBEKISTAN_CENTER, 6);
                }
            }
        }

        // Batafsil ma'lumotlarni ko'rsatish
        function showDealerDetails(dealerId) {
            const dealer = dealers.find(d => d.id === dealerId);
            if (!dealer) return;

            document.getElementById('modalTitle').textContent = dealer.name;
            document.getElementById('modalSubtitle').textContent = dealer.city;

            const infoHTML = `
        <div class="info-item">
            <div class="info-icon">📍</div>
            <div class="info-text">
                <strong>Manzil</strong>
                ${dealer.address}
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">📞</div>
            <div class="info-text">
                <strong>Telefon</strong>
                <a href="tel:${dealer.phone}" style="color: #0a2883; text-decoration: none;">${dealer.phone}</a>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">✉️</div>
            <div class="info-text">
                <strong>Email</strong>
                <a href="mailto:${dealer.email}" style="color: #0a2883; text-decoration: none;">${dealer.email}</a>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">🌐</div>
            <div class="info-text">
                <strong>Veb-sayt</strong>
                <a href="${dealer.website || '#'}" target="_blank" style="color: #0a2883; text-decoration: none;">${dealer.website || 'Ko\'rsatilmagan'}</a>
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">🕒</div>
            <div class="info-text">
                <strong>Ish vaqti</strong>
                ${dealer.workingHours}
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">👤</div>
            <div class="info-text">
                <strong>Menejer</strong>
                ${dealer.manager || 'Ko\'rsatilmagan'}
            </div>
        </div>
        <div class="info-item">
            <div class="info-icon">🛠️</div>
            <div class="info-text">
                <strong>Xizmatlar</strong>
                <div class="services">
                    ${dealer.services.map(service => `<span class="service-tag">${service}</span>`).join('')}
                </div>
            </div>
        </div>
        <div class="contact-buttons">
            <a href="tel:${dealer.phone}" class="contact-btn btn-primary">
                📞 Qo'ng'iroq qilish
            </a>
            <button onclick="buildRoute([${dealer.coordinates.join(',')}])" class="contact-btn btn-secondary">
                🗺️ Yo'nalish
            </button>
        </div>
    `;

            document.getElementById('dealerInfo').innerHTML = infoHTML;
            document.getElementById('dealerModal').style.display = 'block';
        }

        // Yo'nalish qurish
        function buildRoute(dealerCoordinates) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const userCoords = [position.coords.latitude, position.coords.longitude];
                    createRoute(userCoords, dealerCoordinates);
                }, function () {
                    const centerCoords = map.getCenter();
                    createRoute(centerCoords, dealerCoordinates);
                });
            } else {
                const centerCoords = map.getCenter();
                createRoute(centerCoords, dealerCoordinates);
            }
        }

        function createRoute(fromCoords, toCoords) {
            // Oldingi yo'nalishlarni o'chirish
            map.geoObjects.each(function (geoObject) {
                if (geoObject.geometry && geoObject.geometry.getType() === 'LineString') {
                    map.geoObjects.remove(geoObject);
                }
            });

            ymaps.route([fromCoords, toCoords], {
                mapStateAutoApply: true,
                routingMode: 'auto'
            }).then(function (route) {
                route.getWayPoints().options.set({
                    preset: 'islands#redStretchyIcon',
                    iconColor: '#0a2883'
                });
                route.getRoutes().options.set({
                    strokeColor: '#0a2883',
                    strokeWidth: 5,
                    strokeOpacity: 0.9
                });

                map.geoObjects.add(route);
                document.getElementById('dealerModal').style.display = 'none';

                const distance = route.getLength() / 1000;
                const duration = route.getTime() / 60;

                setTimeout(() => {
                    alert(`Yo'nalish qurildi!\nMasofa: ${distance.toFixed(1)} km\nVaqt: ${Math.round(duration)} daqiqa`);
                }, 500);
            }).catch(function (error) {
                console.error('Yo\'nalish qurishda xatolik:', error);
                alert('Yo\'nalish qurib bo\'lmadi. Keyinroq urinib ko\'ring.');
            });
        }

        // Qidiruv va filtrlash
        function setupEventListeners() {
            const searchBox = document.getElementById('searchBox');
            let searchTimeout;

            searchBox.addEventListener('input', function (e) {
                clearTimeout(searchTimeout);
                searchTimeout = setTimeout(() => {
                    filterDealers(e.target.value);
                }, 300);
            });

            // Filtr tugmalari
            document.querySelectorAll('.filter-btn').forEach(btn => {
                btn.addEventListener('click', function () {
                    document.querySelectorAll('.filter-btn').forEach(b => b.classList.remove('active'));
                    this.classList.add('active');
                    currentFilter = this.dataset.service;
                    filterDealers(searchBox.value);
                });
            });

            // Modal oyna
            const modal = document.getElementById('dealerModal');
            const closeBtn = document.querySelector('.close');

            closeBtn.onclick = function () {
                modal.style.display = 'none';
            };

            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            };

            document.addEventListener('keydown', function (e) {
                if (e.key === 'Escape' && modal.style.display === 'block') {
                    modal.style.display = 'none';
                }
            });
        }

        // Dilerlarni filtrlash
        function filterDealers(searchQuery = '') {
            const query = searchQuery.toLowerCase().trim();
            let filtered = dealers;

            // Matn bo'yicha qidiruv
            if (query.length >= 2) {
                filtered = filtered.filter(dealer =>
                    dealer.name.toLowerCase().includes(query) ||
                    dealer.address.toLowerCase().includes(query) ||
                    dealer.city.toLowerCase().includes(query) ||
                    dealer.manager.toLowerCase().includes(query) ||
                    dealer.services.some(service => service.toLowerCase().includes(query))
                );
            }

            // Xizmat bo'yicha filtrlash
            if (currentFilter !== 'all') {
                filtered = filtered.filter(dealer =>
                    dealer.services.includes(currentFilter)
                );
            }

            filteredDealers = filtered;
            updateMapWithDealers(filtered);
            updateStats();
        }

        // Kartani yangilash
        function updateMapWithDealers(dealersToShow) {
            clusterer.removeAll();

            if (dealersToShow.length === 0) {
                updateStats();
                return;
            }

            const placemarks = dealersToShow.map(dealer => createPlacemark(dealer));
            clusterer.add(placemarks);

            if (dealersToShow.length === 1) {
                map.setCenter(dealersToShow[0].coordinates, 12);
            } else if (dealersToShow.length > 1) {
                try {
                    const bounds = clusterer.getBounds();
                    if (bounds) {
                        map.setBounds(bounds, {
                            checkZoomRange: true,
                            zoomMargin: [60, 60, 60, 60]
                        });
                    }
                } catch (e) {
                    console.warn('Karta chegaralarini moslashtirish xatoligi');
                }
            }
        }

        // Statistikani yangilash
        function updateStats() {
            const totalDealers = dealers.length;
            const visibleDealers = filteredDealers.length;
            const cities = new Set(dealers.map(d => d.city)).size;
            const allServices = new Set(dealers.flatMap(d => d.services)).size;

            // Animatsiya bilan raqamlarni yangilash
            animateNumber(document.getElementById('totalDealers'), totalDealers);
            animateNumber(document.getElementById('visibleDealers'), visibleDealers);
            animateNumber(document.getElementById('citiesCount'), cities);
            animateNumber(document.getElementById('servicesCount'), allServices);
        }

        // Raqamlar animatsiyasi
        function animateNumber(element, targetValue) {
            const currentValue = parseInt(element.textContent) || 0;
            const increment = targetValue > currentValue ? 1 : -1;
            const duration = 500;
            const steps = Math.abs(targetValue - currentValue);
            const stepDuration = steps > 0 ? duration / steps : 0;

            let currentStep = 0;
            const timer = setInterval(() => {
                currentStep++;
                const newValue = currentValue + (increment * currentStep);

                if ((increment > 0 && newValue >= targetValue) || (increment < 0 && newValue <= targetValue)) {
                    element.textContent = targetValue;
                    clearInterval(timer);
                } else {
                    element.textContent = newValue;
                }
            }, stepDuration);
        }

        // Eng yaqin dilerni topish
        function findNearestDealer() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    const userCoords = [position.coords.latitude, position.coords.longitude];
                    let nearestDealer = null;
                    let minDistance = Infinity;

                    dealers.forEach(dealer => {
                        const distance = calculateDistance(userCoords, dealer.coordinates);
                        if (distance < minDistance) {
                            minDistance = distance;
                            nearestDealer = dealer;
                        }
                    });

                    if (nearestDealer) {
                        map.setCenter(nearestDealer.coordinates, 14);
                        setTimeout(() => {
                            showDealerDetails(nearestDealer.id);
                        }, 800);
                    }
                }, function () {
                    alert('Joylashuvingizni aniqlab bo\'lmadi');
                });
            } else {
                alert('Brauzeringiz geolokatsiyani qo\'llab-quvvatlamaydi');
            }
        }

        // Masofa hisoblash
        function calculateDistance(coords1, coords2) {
            const R = 6371; // Yer radiusi km da
            const dLat = (coords2[0] - coords1[0]) * Math.PI / 180;
            const dLon = (coords2[1] - coords1[1]) * Math.PI / 180;
            const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(coords1[0] * Math.PI / 180) * Math.cos(coords2[0] * Math.PI / 180) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            return R * c;
        }

        // Global funksiyalar
        window.showDealerDetails = showDealerDetails;
        window.buildRoute = buildRoute;
        window.findNearestDealer = findNearestDealer;
    </script>
</body>

</html>